<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{fragments/main_layout}">
<head>
    <title>Register Form</title>
</head>
<body>

<div  layout:fragment="content" class="container mySpace">
    <action form="@{/register} " th:object=${user} method="post">
    <div class="form-group">

    <label asp-for="email" class="form-control-label"></label>
        <input type="text" class="form-control" th:field="*{email}" >

        <label asp-for="email" class="form-control-label"></label>

        <input type="text" class="form-control" th:field="*{password}" >
        <label asp-for="password" class="form-control-label"></label>

        <input type="text" class="form-control" th:field="*{name}" >
        <label asp-for="name" class="form-control-label"></label>



    </div>
        <div><input type="submit" value="Submit" class="btn  btn-primary" ></div>
    </action>
</div>
</body>
</html>